.dialogs {
    display: grid;
    /*grid-template-rows: 60px 1fr;*/
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
}

.dialogsItems .active {
    color: purple;
    font-weight: bold;
}

.message {
    padding: 10px;
}